#path
alignments_path = "/home/user/Alignments/"
badmaps_path = "/home/user/BADMAPS/"
project_path = "C:\Users\aswq2\PycharmProjects\ASB-Project"
parallel_parameters_path = "/home/user/parallel/"
results_path = "/home/user/DATA/"
reference_path = "/home/user/REFERENCE/"
master_list_path = "/home/user/PARAMETERS/Master-lines.tsv"
genome_path = "/home/user/REFERENCE/genome.fasta"
dbsnp_vcf_path = "/home/user/REFERENCE/dbsnp_common.vcf.gz"
repeats_path = "/home/user/repeats"
intervals_path = "/home/user/interval"

#soft
Java="java"
python="/usr/bin/python"
python3="/usr/bin/python3"
Bedtools="/usr/bin/bedtools"
PICARD="/home/abramov/PICARD/picard.jar"
GATK="/home/abramov/GATK/gatk-4.0.12.0/gatk-package-4.0.12.0-local.jar"
JavaParameters="-Xmx12G -XX:ParallelGCThreads=4"